pip>=10.0.0
setuptools>=39.0.0
flask
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
flask-mail
pyjwt
flask-bootstrap
flask-moment
flask-babel
guess-language_spirit
requests
pyenchant
python-dotenv
elasticsearch>=6.0.0,<7.0.0
